.view-selector {
    width: 100vw;
    height: 10vh;
    z-index: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    border: 1px dashed black;
}