<div class="engagement-views">
    <view-selector></view-selector>
    
    <div class="view-container">
        <ng-container *ngIf="0">
            <i-map></i-map>
        </ng-container>
        <ng-container *ngIf="0">
            <pie-chart></pie-chart>
        </ng-container>
        <ng-container *ngIf="0">
            <stacked-bar-graph></stacked-bar-graph>
        </ng-container>
        <ng-container *ngIf="1">
            <bar-graph></bar-graph>
        </ng-container>
        <ng-container *ngIf="0">
            <radar-chart></radar-chart>
        </ng-container>
    </div>

    <filter-section></filter-section>    
</div>