#i-map {
    width: 100%;
    height: 90vh;
    margin: 0 auto;
    /* fill: #ccc;
    stroke: #333;
    stroke-width: 2; */
    border-bottom: 2px solid black;
    overflow: hidden;
    background-color: #dddddd;

    display: flex;
    align-items: center;
    justify-content: center;
}

#info-section {
    width: 30%;
    height: 100%;
    background-color: white;
    border-right: 1px solid hsl(0, 0%, 41%);
    border-bottom: 1px solid #696969;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    overflow: scroll;
    flex-wrap: wrap;
}

.info {
    min-height: 10%;
    height: auto;
    width: 100%;
    border-bottom: 1px dashed #cccccc;
    padding: 1rem;
    margin-bottom: 1rem;

    font-size: 1.3rem;
    font-family: "Avantgarde";
    font-variant: small-caps;
}

#map-section {
    width: 70%;
    height: 100%;
    margin: auto;
    overflow: scroll;
}

#map {
    transform: scale(1);
    border: 1px dashed #cccccc;
}

